[2016-08-12 14:29] remenska opened #11 "readline 6.2 picked up from defaults channel, rather than nlesc one (6.2 build 15)"

[2016-08-15 08:47] remenska commented on #11
Solved. Readline is a python build/runtime dependency. The anaconda python recipe has changed from readline 6.2.5 to readline 6.2, which is why the `nlesc` channel version wasn't picked up.

[2016-08-15 08:47] #11 closed, assigned to nobody

[2016-10-05 10:04] alexpearce opened #12 "Loading files over XRootD protocol"
I'm unable to load files with ROOT over the [XRootD]() protocol. Below is what I do, and then what I think the problem might be.
## Reproducing

I create a conda environment with:

[code]

And then I try to load a file over XRootD:

[code]

I first get an error about loading `libpcre`:

[code]

I modify my `LD_LIBRARY_PATH` and try again:

[code]

I see the same messages if I also `conda install x

[2016-10-05 13:16] remenska commented on #12
Hi Alex,

There is a ROOT binary with xrootd compiled some time ago. It's not in the `main` channel, however; it's in a channel/label called `xrootd` (needs some testing). We should at some point switch to conda features rather than labeling different flavours of ROOT.

https://anaconda.org/nlesc/repo/files?type=all&label=xrootd

[2016-10-05 20:32] alexpearce commented on #12
Woah, cool! That does work. Now I do:

[code]

and I can open files over XRootD. I do still have to specify the `LD_LIBRARY_PATH`, though:

[code]

Is that expected?

[2016-10-05 20:41] remenska commented on #12
Cool, thanks for reporting!
No, in principle the point of anaconda environments is that you shouldn't specify any additional environmental variables, for things to work...unless of course the conda binary you install requires them :) Like ROOT needs ROOTSYS/PYTHONPATH after sourcing thisroot.sh.

When you activate the environment, do you see the correct:

[code]

? Or is it this:

[code]

I think

[2016-10-05 20:45] alexpearce commented on #12
Ah, I do get the second one, just `ROOTSYS=`.

[2016-10-05 20:47] remenska commented on #12
Oke, then we know, thanks. Need to find time to recompile with the recipe changed a bit :) I will keep this issue open as a reminder, but feel free to give it a try too, if you want.
I can always upload your binary to the cloud.

Meanwhile sourcing `thisroot.sh` is a "hack".

[2016-10-06 15:01] remenska opened #13 "Make activateROOT.sh script more robust (root5 and root6 recipes)"
Add a check whether the ROOTSYS was actually set after sourcing, or something went wrong.

[2016-10-06 15:05] remenska opened #14 "See "conda features" as a way to distinguish between different ROOT build options"
As an example, XRootD is enabled in a separately labeled conda binary. See https://github.com/NLeSC/root-conda-recipes/issues/12
 It should be a lot cleaner to rely on [conda features](http://conda.pydata.org/docs/building/meta-yaml.html#features) for this, rather than put labels and separate channels.

[2017-03-16 15:27] fdiblen opened #15 "Extend list of supported distros"

[2017-03-16 15:28] fdiblen opened #16 "Re-organize scripts and folders"

[2017-03-16 15:29] fdiblen opened #17 "Update Python and ROOT"

[2017-03-16 15:35] fdiblen opened #18 "check if we support for 32 bits for every package"

[2017-03-16 15:36] fdiblen opened #19 "review and update the documentation"

[2017-03-16 15:37] fdiblen opened #20 "add distro-root-python matrix to documentation"

[2017-03-16 15:38] fdiblen opened #21 "stick to either Travis or Jenkins"

[2017-03-16 15:43] fdiblen opened #22 "merge all Markdown files into one single file"

[2017-03-16 15:59] fdiblen commented on #15
add extra Dockerfiles if necessary
- CentOS
- Fedora
- Arch Linux ?

[2017-03-16 16:00] fdiblen opened #23 "Set new DockerHub and Travis accounts"

[2017-03-16 16:16] fdiblen opened #24 "make a list of dependencies with version info"

[2017-03-16 16:21] fdiblen commented on #17
Latest versions of:
  - [ ] Python 2  and ROOT 5
  - [ ] Python 3 and ROOT 5
  - [ ] Python 2  and ROOT 6
  - [ ] Python 3 and ROOT 6

[2017-03-21 11:49] fdiblen opened #25 "Check JupyROOT and package if useful"
https://github.com/root-project/root/tree/master/bindings/pyroot/JupyROOT

[2017-04-24 11:46] jefftemplon opened #26 "iminuit built with more recent dependencies = does not run at Nikhef"
Hi,

The root stuff is compiled so that it can run on a CentOS 6 installation.  For some reason, the iminuit package is asking for a version of GLIBC 2.14, which is not present in CentOS 6.  Could you please re-build iminuit with the same dependencies as pyROOT have -- that one doesn't generate errors when imported.

Thanks!

[2017-04-24 19:25] remenska commented on #26
@fdiblen @goord Could some of you guys maybe try to build iminuit with our dev-toolbox setup, so it supports older glibc? The one currently in the NLeSC anaconda repository is merely copied from the astropy channel (probably to simplify the XENON1T project so there is only one channel across their conda configs)

[2017-04-25 09:51] remenska commented on #26
I have built and uploaded binaries to anaconda cloud (iminuit v1.2 for py2.7/3.4). I don't think I still have push rights here for the recipes, so here goes:

meta.yaml
[code]

build.sh
[code]

[2017-04-25 09:59] goord commented on #26
Thanks Daniela, I will add the recipe asap.

[2017-04-30 12:02] goord commented on #26
@remenska I added your recipe for iminuit in the new branch 'minuit'. Should we add a windows bat script? I assume there is no root dependency on iminuit...

[2017-04-30 12:03] goord commented on #26
BTW, this is a strange way of working, I will check whether we can give you push permissions.

[2017-04-30 12:35] egpbos commented on #26
Can't we just add Daniela back to the ROOT developers group?

[2017-04-30 13:22] goord commented on #26
Sounds good to me, I will ask Stefan

[2017-05-01 21:14] remenska commented on #26
Sorry, should have created a pull request instead (was in a hurry during workhours) :)
@goord sure, you can add a windows bat file for completeness if you want, though I have never built a windows executable, nobody needed it so far. (there is no ROOT dependency)

[2017-05-02 08:09] goord commented on #26
Ok, I created and merged the pull request, now I will try to add you to the ROOT users to give you push permissions @remenska

[2017-05-02 08:11] goord commented on #26
Even easier, I just added you as collaborator. Is that fine with you, or do you prefer to be in the ROOT dev group?

[2017-05-02 08:20] remenska commented on #26
It's fine like this, thanks @goord !

[2017-05-02 08:22] goord commented on #26
Ok, @jefftemplon can you test at nikhef whether the iminuit package works properly?

[2017-05-03 09:43] jefftemplon commented on #26
Yo,  it says "package already installed" because I picked up Daniela's new version from last week.  How can I test?

[2017-05-03 16:40] remenska commented on #26
This repository doesn't automatically build/upload binaries from the recipes (we had Jenkins for that, actually for ROOT only). I didn't think it's a good idea back then, the Anaconda Cloud had some issue with not actually removing/overwriting old binaries behind the scenes (or problem with accounting...), so our data limit would have been used up pretty quickly.

@goord I think it's fine to close

[2017-05-03 16:40] #26 closed, assigned to nobody

[2017-05-09 05:30] ndawe opened #28 "Python 3.6 builds?"
In the CI for rootpy I'd like to run tests against python 3.6 where there have been some bytecode changes. Could you provide ROOT builds for 3.6?

[2017-05-09 06:18] fdiblen commented on #28
Hi,
It is in our list. We will notify you when we realese it.

[2017-05-09 06:32] ndawe commented on #28
Many thanks!

[2017-05-09 07:16] ndawe commented on #28
Also a ROOT later than 6.04 to avoid this bug:

https://sft.its.cern.ch/jira/browse/ROOT-7365

Thanks again!

[2017-05-09 07:20] remenska commented on #28
@ndawe is the ROOT version important for you? Right now we build ROOT 5 and 6, but I don't think  a version later than 6.04 is in the Anaconda Cloud.

[2017-05-09 07:28] ndawe commented on #28
Ah, I see. It's not critical now I suppose. No worries. I'm working on a way to patch in a ``__hash__`` in rootpy instead.

[2017-05-09 07:30] remenska commented on #28
I will give it a try with a more recent ROOT and let you know. In the worst case I can do some black magic to cherry pick the patch for that on top of 6.04 :)

[2017-05-14 18:33] remenska commented on #28
@ndawe Can you test and see if it works?

[code]

I assume this is the fix for the hash:
https://github.com/root-project/root/commit/3f3f1b1838183f1d6e22ee75515f5c4f5ab8dc79

[2017-05-14 19:27] remenska commented on #28
Hmm, rootpy fails the most basic stl tests:

https://travis-ci.org/NLeSC/root-conda-recipes/jobs/232169317

[2017-05-15 00:03] remenska commented on #28
Fixed it in the meantime by applying some patches from the official ROOT repository. Enjoy the new binaries!

[2017-05-15 00:12] ndawe commented on #28
Thanks a lot! I'll move our 3.4 tests up to 3.6. That must be a ROOT bug that was later fixed. 6.09/1 is ok but then 6.09/2 has another issue....

[2017-05-15 00:58] ndawe commented on #28
Unfortunately there is a bus error with ROOT 6.05 in the histogram components. I'd suggest building 6.08 or 6.06 instead.

[2017-05-15 18:09] remenska commented on #18
Has anyone ever asked for 32bit?

[2017-05-15 18:13] remenska commented on #24
These things are dynamic and change all the time (get "up'd" usually), especially if you depend on binaries from other channels (almost always), you don't have control over their recipes which define the version info. You can only hope to make a list of minimal versions for dependencies, but I don't see how that helps.

[2017-05-20 16:12] remenska commented on #28
@ndawe Do you happen to know which patch would solve the problem? I cannot compile 6.06 or 6.08, at least not without breaking backwards compatibility with glibc 2.12 (and If I did anyways, I think it would not work with your Ubuntu 12.04 CI boxes on rootpy Travis)

[2017-05-23 09:06] Kecksdose commented on #28
@remenska Thanks for updating the conda build of ROOT to work with Python 3.6. Could you please also update `root_numpy` as this is one major package many data analysts may need?

Ah, you already did that! The only thing I had to do is to change the name of the package to `root-numpy`.

[2017-05-23 18:18] remenska commented on #28
@Kecksdose Yep it's there
Sorry the old `root_numpy` binaries still linger in anaconda just in case ... Maybe I should remove it :)

[2017-07-22 09:01] Hugo-Leung opened #29 "fail to import ROOT in python"
I recently install anaconda with python 3.6. Then I install root. Yet I could not import root in python.
![screenshot from 2017-07-22 17-00-39](https://user-images.githubusercontent.com/20005167/28489853-7459533c-6eff-11e7-8fc0-7ef5c236a140.png)

[2017-08-21 06:48] jonas-eschle commented on #29
Do other libraries work with conda? So can you make sure that if you install a library that is not yet on your system will be install correctly with conda and can be imported?

It could be that you did not prepend the conda path to the python path.

[2017-10-08 02:11] lepmik commented on #29
I have the same problem python 2.7

[code]

[2017-10-08 02:13] lepmik commented on #29
I guess it is worth mentioning that running root from terminal works i.e.
[code]

[2017-10-08 02:36] lepmik commented on #29
fixed by `source /path/to/anaconda2/bin/thisroot.sh`

[2017-10-08 02:39] lepmik opened #30 "must install readline in addition to root=6.04"
[code]
Then
[code]

[2017-10-11 21:50] bugaev commented on #29
I have the same problem with python2.7.
`export PYTHONPATH=/path/to/anaconda2/lib:$PYTHONPATH` helps but I wouldn't call it a fix, neither what @lepmik does.

[2017-10-18 08:48] jonas-eschle commented on #29
@lepmik and @bugaev are you using a zsh-shell? Depending on your bash version, bin/thisroot.sh has to be executed from within a certain directory and anaconda does not seem to care about this.

Do you get an error if you do `source activate your_environment`? Can you may post it's output?

[2017-10-20 20:35] bugaev commented on #29
Hi @mayou36, @lepmik
I am using bash.

The necessity to run bin/thisroot.sh or exporting PYTHONPATH explicitly is what I believe an issue with the package. Anaconda is supposed to provide a self-sufficient environment through symlinks / paths hardcoding  / including rpaths without help from the user. If we have to modify the environment ourselves, the package's recipes are incomplete and this is a

[2017-10-20 20:39] remenska commented on #29
This is true @bugaev, but mostly due to the fact that conda has changed the name, meaning, and behavior of the few environment variables that are available during environment activation. The packages just haven't been updated to reflect that.

[2017-10-20 20:43] bugaev commented on #29
@remenska: I just hope that the issue will not be closed by the developers because they saw in this thread that somebody found temporary workarounds.

[2017-10-20 20:45] remenska commented on #29
Just now noticed your comment about installing it in the root anaconda environment. Would not recommend that, env variables are set on activation of the environment.
In any case, someone should check the latest docs on environment variables and just submit a small patch.

[2017-10-23 03:08] ndawe opened #31 "Changes in miniconda 4.3.27 breaking python 2.7"
See https://github.com/conda/conda/issues/6030
and https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/1810eV8l7FU

Tavis-CI jobs are now failing for rootpy and root_numpy only for python 2.7. Any ideas?

[2017-10-23 03:30] ndawe commented on #31
Is NLeSC's gcc now conflicting with the one shipped in conda?

[2017-10-24 07:35] egpbos commented on #29
@bugaev, could you try installing in a different environment to see if it works there for you? E.g.:

[code]

As @remenska said, in the root conda environment, activation scripts do not get called. You could call this a bug (though I would say it's a conda bug), but in fact a solution is already given: install ROOT in a non-root conda environment and the script is called automatically :)

In the c

[2017-10-24 07:35] egpbos commented on #29
@Hugo-Leung did you solve your problem in the meantime?

[2017-10-24 07:39] Hugo-Leung commented on #29
I did solve my problem by source `/path/to/anaconda3/bin/thisroot.sh`.

[2017-10-24 07:42] egpbos commented on #31
I guess gcc and glibc need to be rebuilt using the new Conda compiler.

[2017-10-24 07:49] egpbos commented on #29
Ah, I see now what you meant @remenska, indeed in activateROOT.sh, the path variable in the `source` line should be changed to `$CONDA_ENV_PATH$CONDA_PREFIX` to make sure it works across Conda versions.

[2017-10-24 07:51] egpbos commented on #29
Oh, you already provided a different fix, so the only thing that needs to be done is rebuild the package and submit it to Anaconda?

[2017-10-24 19:46] remenska commented on #29
@egpbos it's been a while now, but to be honest I think that fix didn't cut it either.
There are several possible scenarios and I'm not sure conda can handle them properly in combination with ROOT at the moment.
1. This should properly work.
[code]
2. This used to work, haven't tried it lately.
[code]

3.  I think this is a bad practice. If you use anaconda for other purposes, you will find many s

[2017-10-24 20:10] remenska commented on #31
Oh noes.

I guess it's time to up the minimum version of `glibc` supported, since the world evolves. But this is more involved, and needs to be checked with Travis linux flavors that still support no-sudo caching. Has that changed @ndawe ? What is the default now?

[2017-10-24 20:21] remenska commented on #30
Strange. Probably installing other stuff in the same root environment where ROOT is installed, corrupted it. The one shipped with ROOT should be 6.2-99 https://anaconda.org/NLeSC/readline/files

There was a problem with the 6.2.x version provided by conda, which produced that error, which is why a custom one (99) was included as dependency.

[2017-10-25 20:25] bugaev commented on #29
Thank you @remenska and @egpbos
I tried remenska's No. 1 approach and it works.

The reason why I was (and still) reluctant to use environments is because I like using
`#!/path/to/env python` in my python scripts.

With python environments, I am forced to use shell wrappers to do `source activate foo` unless `#!/path/to/anaconda/envs/foo/bin/python` is enough.
Does anaconda guarantee that starting

[2017-10-25 20:38] remenska commented on #29
Does anaconda guarantee that starting python executable from within environment 'foo' has the same effect as source activate foo?

I don't have a conda environment at the moment, but you could check what happens to your environment variables after activation, if I remember correctly, all it does is prepend the `/path/to/anaconda/env/bin` to your `PATH` environment variable. Would it be considered

[2017-10-25 20:47] remenska commented on #29
Oh, and probably sets something like `CONDA_ENV_PATH` upon environment activation, at least it used to.

[2017-10-26 05:36] egpbos commented on #29
Offtopic, but may I ask why you like to hard-code the path to one specific Python interpreter in your scripts' she-bang line @bugaev ?

[2017-10-26 19:31] bugaev commented on #29
@egpbos I was naively hoping for a consistent behavior across all anaconda packages as described by DaveX [here](https://tutel.me/c/programming/questions/41914739/how+do+i+activate+a+conda+env+in+a+subshell)
Apparently, if a package like NLeSC/root relies on activation scripts like "thisroot.sh" that are called through explicit call to "activate", that cannot be achieved.

[2017-10-26 19:40] remenska commented on #29
The real problem is that ROOT relies on having `thisroot.sh` sourced. @bugaev Do you bypass it when you use your ROOT installation outside of anaconda?

[2017-10-26 20:19] bugaev commented on #29
@remenska I first thought that `thisroot.sh` is needed in NLeSC/root package because the package sets `LD_LIBRARY_PATH`. Then I realized that the activation script unsets this path after `thisroot.sh` finishes. This suggests that NLeSC doesn't strip and utilizes rpaths in its root binaries and perfectly happy with scenarios where its root is used without python. What is left in the end after `this

[2017-10-26 20:34] remenska commented on #29
Yes, the conda packaging system doesn't need any (and discourages) setting `LD_LIBRARY_PATH, PYTHONPATH` etc. In practise, any purely-python packages should work out of the box just by pointing to the right conda python binary in shebang, if you want to bypass activating an environment. Conda does indeed do a binary replace of rpath but only during building/packaging.

ROOT is stubborn and insists

[2017-10-26 20:43] remenska commented on #29
Oh, by the way: another perk of having ROOT installed in your root Anaconda environment instead of a custom one: even if installing it managed to activate `thisroot.sh` properly and set `ROOTSYS` for you behind the scenes, the next time you want to use some other custom-built ROOT and source that `thisroot.sh`, it will forever overwrite the existing `ROOTSYS` setting, so badly needed by ROOT. Sinc

[2017-10-26 20:46] bugaev commented on #29
@remenska:
Thank you for the explanation!

I forgot about this one! Indeed, ROOT may demand a bunch of stuff that packaging cannot help with. I see now why using an activation script seem unavoidable.

[2017-10-27 12:23] egpbos commented on #29
Indeed, it seems unfortunately unavoidable. As @remenska said, if you do find a way around this, PR's are very welcome! :)

[2017-11-08 00:01] ndawe commented on #31
This is what I'm seeing:

[code]

After the line ``0.15s$ bash ci/test.sh`` above, the versions printed are the result of:

[code]
so 4.8.3 for gcc and 2.19 for glibc

[2017-11-08 08:46] lstroem commented on #31
I had the same error messages as reported by @ndawe above. This was solved by forcing an update of the stdc++ library:
`conda update -f libstdcxx-ng`

[2017-11-08 11:38] ndawe commented on #31
Hmn.. that didn't work for me:

https://travis-ci.org/rootpy/rootpy/jobs/299053363

[2017-11-23 12:42] fdesse opened #32 "libstdc++.so.6: version 'CXXABI_1.3.9' not found"
Hello !

I had some issues trying to install root and root pandas via conda (see [https://github.com/scikit-hep/root_pandas/issues/51](url) for more details). I found a way to fix it (thanks to Chris Burr), so let me post it here so that it can be fixed, or to help someone having the same problem.

Doning this:
`$ conda create --name=test-plain-pandas`
`$ source activate test-plain-pandas`
`$ cond

[2017-11-29 13:18] Zaharid opened #33 "Packages based on new Anaconda compilers"
It looks like the new compiler tools:

https://conda.io/docs/user-guide/tasks/build-packages/compiler-tools.html

may significantly simplify  the recipes here and mitigate some of the problems.

[2018-01-21 22:49] guzelgun opened #34 "Can not install ROOT"
Hi all, I'm on a macbook pro with macOS Sierra 10.12.6.

In any environment I create, I'm not able to setup ROOT correctly.
`conda install -c nlesc root` yields:

And when I `root -l`

I tried to install with `conda create -n test-root python=2.7 root=6` it yields:

I'm obviously doing something wrong, but couldn't figure out what. Would appreciate some help, very much!
Thanks in advance.

[2018-02-14 10:38] adsherman opened #35 "ROOT 6.10 / 6.12 build"
Will there be a new build for a more recent version of ROOT? As far as I can tell 6.04 is the last stable release, and there is no gcc-6 build (still 4.8). Thanks!

[2018-03-29 12:55] jonas-eschle commented on #34
I cannot say anything about your first issue, but for the second one:

root is not found as it is not in the anaconda repositories. But in the NLeSC-anaconda repositories. With your first command, you explicitly specify to also search inside them (`-c nlesc` = also include nlesc channel).

So try the following:
`conda create -n test-root -c nlesc python=2.7 root=6`

and see if that works

Update:

[2018-04-01 11:15] morgangillis opened #36 "Difference between root_numpy and root-numpy? Do I need both?"
Both packages are listed on the [NLeSC Anaconda repository](https://anaconda.org/NLeSC/repo). I notice that `root-numpy` was last updated much more recently than `root_numpy`.

[2018-04-02 19:40] jonas-eschle commented on #36
I think root_numpy is just the "old" name and is only available for python 2 and 3.4 while root-numpy is also available for 3.5 and 3.6.

I would say, you only need root-numpy.

[2018-04-02 19:43] jonas-eschle commented on #32
In addition, I think it's worth mentioning here https://github.com/tensorflow/tensorflow/issues/5017#issuecomment-254769527, which solved the problem for me. It's replacing the anaconda compiler with the system one.

[2018-04-03 02:02] #36 closed, assigned to nobody

[2018-05-09 11:17] egpbos commented on #34
@guzelgun did @mayou36 's suggestion fix your issue?

[2018-05-09 11:33] egpbos commented on #34
Related to #9 as well. A fix was made, but new build needs to be created for it to be effective in the conda package.

[2018-05-09 11:40] egpbos opened #38 "Mac Travis runs failing"
Conda not installed. See e.g. https://travis-ci.org/NLeSC/root-conda-recipes/jobs/376744668

[2018-05-09 11:41] egpbos opened #39 "Linux Travis runs failing"
See e.g.: https://travis-ci.org/NLeSC/root-conda-recipes/jobs/376744663

There is some problem with libpng.

Incidentally, I'm also seeing a similar problem on my Mac (High Sierra)...

[2018-05-09 11:49] egpbos commented on #39
The Python 3.6 build does still work, which indicates that it may be an issue of incompatible builds due to different compilers used for the Python (and possibly other) binaries and the libpng ones. Possible solution: fix version of libpng in meta.yaml to an older one that still works.

[2018-05-09 11:57] egpbos commented on #32
@fdesse Thanks for putting this to our attention!

Did your problems occur when installing root_pandas from the nlesc conda channel?

[2018-05-09 11:58] egpbos commented on #30
@remenska Was this problem with readline a problem in ROOT itself?

[2018-05-09 12:01] #28 closed, assigned to nobody

[2018-05-09 12:04] #29 closed, assigned to nobody

[2018-05-09 12:11] #13 closed, assigned to nobody

[2018-05-09 12:22] egpbos commented on #17
After discussion, decided to support the following builds:

ROOT: just 6.

Python:
- [ ] 2.7 latest
- [ ] 3 latest

OS:
- [ ] Linux (Ubuntu and Scientific Linux, which are both supported automatically by using Conda)
- [ ] OSX latest

[2018-05-09 12:54] fdiblen commented on #17
updated in 3be0a50a8b8b34d1094903b7ab85843bd4f7a086

[2018-05-09 12:54] #17 closed, assigned to fdiblen, goord

[2018-05-09 13:14] fdesse commented on #32
No I think its from pip. Although I added the nlesc channel before, so I'm not sure which one pip pick sup. This is exactly what I did:
[code]

[2018-05-09 13:52] egpbos commented on #38
Conda now installs properly, but another error occurs:

[code]

This seems likely due to ABI incompatibilities of conda packages (i.e. due to building with different compilers). A rebuild using up to date compilers and corresponding packages should fix this. This means this issue will be fixed when either #31, #33 or #35 is fixed, i.e. when a new build using the new system is made (https://github.

[2018-05-09 19:16] remenska commented on #30
@egpbos as far as I can remember it was readline...

[2018-05-14 06:56] egpbos commented on #32
Ok, thanks for that extra info. I'm not 100% sure, but this looks to be caused by ABI mismatch due to different compilers being used for different packages. We're currently redesigning the build process of all packages, mainly to make it easier to rebuild, so that we can keep the packages up to date more easily. After that's done, we will check whether this issue persists.

[2018-05-14 06:57] egpbos commented on #30
Ok, so we should check whether the problem persists or whether it has resolved itself.

[2018-05-18 09:17] fdesse opened #40 "CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.binstar.org/NLeSC/linux-64/repodata.json>"
Dear all,

Since a few weeks, I noticed a new error, that was not happening before. Whenever I try to create a new environment:

[code]

Is this a global issue or is this just me ?

This is my miniconda info:

[code]

Cheers,
Fabrice

[2018-05-18 09:28] tunnell commented on #40
You might want to try removing the `binstar.org` reference in your `~/.condarc`.  I think this is a previous naming or something of the service.  At very least, that servers SSL certificate appears expired.  My `~/.condarc` is:

[code]

[2018-05-18 09:37] fdesse commented on #40
Indeed that did the trick, thanks !

[2018-05-18 09:37] #40 closed, assigned to nobody

[2018-05-23 11:58] caterina-doglioni commented on #34
Hi all,

I have stumbled upon problem #1 (whether on its own or in a test env, the error is the same), and I have some insight from the Anaconda community:

See full post [here](https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/-uHpi5UBMs4)
I can help testing/repackaging (but I'm fairly new to the scene) - I would really like this to work!

Thanks,
Caterina

[2018-05-24 08:17] goord commented on #34
Hi @urania277 we are in the process of migrating low-level library dependencies to conda package dependencies, which is what is suggested above if I understand correctly. I will figure out this week what the status of this process is and let you know.

[2018-05-24 08:51] caterina-doglioni commented on #34
Hi @goord,
thanks a lot, I believe that's what is suggested above (ideally ROOT should be able to pick up the conda libpng rather than the system libpng). Let me know if I can help somehow / when I can test things out.
Caterina

[2018-05-24 09:02] tunnell commented on #34
If I remember correctly, this was due to the way that ROOT was built since the Makefile doesn't find the correct libpng (starting with environmental variables), but rather had some hardcoded paths.  @remenska and I had seen this a few times.  My information might be out of date or wrong, but maybe a ROOT patch would help?

[2018-05-24 11:49] caterina-doglioni commented on #34
I'm not sure this is looking too promising: https://sft.its.cern.ch/jira/browse/ROOT-9145

Meanwhile I'm following up on why the native ROOTBooks are not exporting the right paths (maybe for my case, maybe for MacOS):

https://root-forum.cern.ch/t/rootbook-and-python-kernel-on-mac-osx/29108/6

that thread also suggests a conda-less workaround (still, conda would be great if one doesn't have root a

[2018-06-07 10:08] fdesse opened #41 "Rebuild root6 with --enable-minuit2 ?"
Dear all,

I have a script using `Minuit2/Minuit2Minimizer.h`. It seems that by default, the root6 built when doing
[code]
does not include minuit2. Indeed:
[code]
 I believe I should rebuild my anaconda root with the option `--enable-minuit2`. Is there a way to do this within anaconda ?

By searching in the doc provided on this GitHub, I found this:
[code]
But how can I specify the option to unab

[2018-06-12 12:05] egpbos commented on #41
Thanks for posting this issue. Minuit2 should definitely be in the build. We are currently redesigning the build process and will take this into account in the new builds that will come out of that.

[2018-06-12 12:24] fdesse commented on #41
Thanks for your reply ! Indeed in the long term, I think its a good idea to add Minuit2.
On the short term, is there no way to rebuild root "by hand"  in the virtual env ? What I mean by that is doing something like:
1) Install root in the virtual env like usual with `conda install root`
2) somehow telling anaconda "well, I'm not super happy with this build of root, I'd like to rebuild it with the

[2018-06-12 12:26] egpbos commented on #41
AFAIK, the ROOT source is not distributed with the Conda package, so rebuilding from the package would not be possible.

[2018-06-12 12:32] fdesse commented on #41
OK. Too bad ... thx for your help anyway.
I'll look forward for the new builds then ! :)

[2018-07-26 13:23] jonas-eschle opened #42 "Python 3.7 support"
As Python 3.7 is out now, it would be great to support this distribution as well (on the long run at least).

And compliment: NLeSC conda ROOT installations are by far my favorite way of getting  ROOT running, thanks for the great job!

[2018-07-28 20:38] fpbarthel opened #43 "error while loading shared libraries libImt.so"
I'm trying to run `cnvnator` which requires ROOT, so I installed it using conda from the NLeSC channel. However, it doesn't locate the right libraries, and running CNVnator results in the following error:

[code]

Is this a version issue?

[2018-07-30 09:30] sashabaranov commented on #30
Problem is still there and readline installation does not help. Checked on ubuntu 16.04. Tried via following Ansible playbook:

[code]

[2018-08-17 18:52] mhedges commented on #30
Hi all.  I found this thread while Googling the same problem as lepmik on CentOS:
(ERROR in cling::CIFactory::createCI(): cannot extract standard library include paths)

I fixed this by updating my .condarc so that the NLeSC channel was the first channel listed under "channels:"

Previously I had conda-forge listed above NLeSC, so conda was bypassing the ROOT dependencies in favor higher/newer ver

[2018-10-16 08:56] sidebo opened #44 "cling error missing libraries"
After what appears to be a successful install (`sudo conda install root`) on an slc6 machine, I cannot run root. I get the following:

[code]
Any help would be appreciated.

[2018-10-16 22:10] tommasodiotalevi commented on #34
Are there any developments regarding this issue?

[2018-10-17 08:14] egpbos commented on #44
Usually, `conda` is run as a regular user, i.e. without `sudo`. Is there any specific reason why you install using `sudo`?

Installing in the default `conda` environment is also problematic. Could you try installing in a new environment? For instance, install + activate environment + run like this:
[code]

[2019-01-31 14:40] caterina-doglioni commented on #34
Thanks to the [HEP Software Foundation's packaging group](https://hepsoftwarefoundation.org/workinggroups/packaging.html) it seems there is a solution at least for Linux - see those slides: https://indico.cern.ch/event/790021/contributions/3301108/attachments/1787718/2911364/2019-01-30_HSF-Packaging-Conda.pdf

Haven't tried this myself but I will in a couple of weeks or so, I'll post results here

[2019-01-31 14:55] egpbos commented on #34
Yep, those packages work now. `conda install root -c conda-forge` should do the trick.

[2019-02-13 18:55] henryiii commented on #34
They should work on macOS too now. <https://iscinumpy.gitlab.io/post/root-conda/>

[2019-03-08 14:31] henryiii commented on #34
Please do not use NLeSC root. It is no longer maintained and does not work properly with current conda. Use conda-forge root instead:

[code]
or

[code]

or install in your base environment if you really want to do that (it is not ideal, but supported).

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

[2019-03-09 09:07] romainbqt commented on #34
Alright thank you @henryiii
I deleted my comment from yesterday.

But there is one problem I do not manage to solve using conda-forge instead of nlesc.
When I do `source activate myrootenv` and then type `root` I get the following error message while ROOT opens :

[code]
Whereas if I use nlesc (and downgrade the libgcc package) `root` command works perfectly.
Even with nlesc, I have to downgrade m

[2019-03-14 15:37] egpbos commented on #12
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:37] #12 closed, assigned to fdiblen

[2019-03-14 15:37] #14 closed, assigned to nobody

[2019-03-14 15:38] egpbos commented on #30
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:38] #30 closed, assigned to nobody

[2019-03-14 15:38] egpbos commented on #31
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:38] #31 closed, assigned to nobody

[2019-03-14 15:38] egpbos commented on #32
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:38] #32 closed, assigned to nobody

[2019-03-14 15:38] egpbos commented on #33
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:38] #33 closed, assigned to nobody

[2019-03-14 15:39] egpbos commented on #34
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:39] #34 closed, assigned to nobody

[2019-03-14 15:39] egpbos commented on #35
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:39] #35 closed, assigned to nobody

[2019-03-14 15:39] egpbos commented on #41
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:39] #41 closed, assigned to fdiblen

[2019-03-14 15:40] egpbos commented on #42
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:40] #42 closed, assigned to nobody

[2019-03-14 15:40] egpbos commented on #43
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:40] #43 closed, assigned to nobody

[2019-03-14 15:40] egpbos commented on #44
The NLeSC ROOT Conda package is no longer maintained and does not work properly with current Conda, modern Python, or modern ROOT. Use conda-forge ROOT instead:

### Installing in a new environment:

[code]

From then on, use `conda activate myrootenv` to get in and `conda deactivate` to get out of the env. You should have a recent version of conda.

or

### Installing in the current environment:

[2019-03-14 15:40] #44 closed, assigned to nobody

[2019-03-14 15:40] #39 closed, assigned to goord

[2019-03-14 15:40] #38 closed, assigned to egpbos

[2019-03-14 15:50] henryiii commented on #34
@romainbqt, sorry for the long delay. Have you tried in a fresh environment? It looks like you have things left over from nlesc-root. There are ~20-40 other packages both depend on, and I'm sure just uninstalling root it would not remove all the other packages. And, most importantly, you must be on the current conda's compiler stack for the new ROOT. Can you try a fresh install and see if the prob

[2019-03-15 16:23] adsherman commented on #35
Hi @egpbos,

This is great news! Unfortunately I tried these commands from a fresh shell and I ran into problems, maybe you are familiar with them?:

[code]

I have not installed any other packages into this env yet, and I followed your instructions
[code]
with the exception that I needed to use ```source activate myrootenv``` since ```conda activate myrootenv``` flashed this error:

[code]

I pre

[2019-03-15 17:16] egpbos commented on #35
You do seem to have an older miniconda, indeed. I'm not sure whether this causes your problems, but please give it a try with the newest miniconda.

[2019-03-23 20:33] adsherman commented on #35
Hi @egpbos,

Sorry it took awhile before I got back to this. I installed the newest linux miniconda and tried again, and still got this error:

[code]

If it matters I used python 2.7 not 3.7, that was a typo in my previous post.

[2019-03-25 14:41] egpbos commented on #35
Could you maybe make an issue on the [conda-forge recipe page](https://github.com/conda-forge/root-feedstock/)? You can link to this issue to avoid having to repeat yourself.

[2019-03-26 04:40] adsherman commented on #35
The solution has been found! The old NLeSC channel was still in .condarc and was being used at higher priority than some of the new packages. Removing the line from .condarc and reinstalling solved the problem.

[2020-04-20 17:49] zkcr0000 opened #48 "Does not work now"
Thanks so much for uploading this method. I am using macos. Now I can not import ROOT im python. I think the problem is I can not source thisroot.sh inside conda environment. Could you please help with that?

Thanks.

[2020-04-20 18:02] tunnell commented on #48
This project is deprecated.  See what to do in to use a maintained version of the conda recipes:

https://github.com/NLeSC/root-conda-recipes/blob/master/README.md